			<div class="register">
			<div class="notice">
			<p>Session data is retained for a period of a week.</p>
			<p>Hosting sessions is not reccomended for lower performance devices.</p> 
			</div>
		  	  <form>
		  	  <div class='error'>Session name has already been used within the past week!</div>
				 <div class="register-top-grid">
					 <div class="wow fadeInLeft" data-wow-delay="0.4s">
						<span>Session Name<label>*</label></span>
						<input id="sname" type="text"> 
					 </div>
					 <div class="clearfix"> </div>
						 <label class="checkbox"><input id="pwdcheck" type="checkbox" name="checkbox"><i> </i>Protect session with password?</label>
					   <hr />
					   <div id="passwordfield" class="wow fadeInLeft" data-wow-delay="0.4s">
						<span>Session Password<label>*</label></span>
						<input id="pwd" type="text"> 
					 </div>
					 </div>
				</form>
				<div class="clearfix"> </div>
				<div class="submitbutton">
				<p id="createbtn">CREATE SESSION</p>
				</div>
				<div class="buttons">
				<p><a class="clickable" href="/home">BACK</a></p>
				</div>
		</div>