<!DOCTYPE HTML>
<html>
<head>
<title>Shuffler - Collaborative Party Playlists!</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="css/bar-ui.css" />
<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
<script src="js/jquery.min.js"></script>
<script src="js/jquery.lazyload.js"></script>
<script src="http://cdn.socket.io/socket.io-1.3.4.js"></script>
<script src="http://connect.soundcloud.com/sdk-2.0.0.js"></script>
<script type="text/javascript" src="https://www.youtube.com/iframe_api"></script>
<script type="text/javascript" src="js/jquery.touchSwipe.min.js"></script>
<script src="js/jquery.cookie.js"></script>
<script src="js/jquery.sliderTabs.min.js"></script>
<script>
  SC.initialize({
  client_id: 'fe3499d30ef5189f05bfd2c214de4dcd'
});
</script>
</head>
<body>
<!-- header -->
			<!-- player #2 -->
<div class="sm2-bar-ui">

 <div class="bd sm2-main-controls">

  <div class="sm2-inline-texture"></div>
  <div class="sm2-inline-gradient"></div>

  <div class="sm2-inline-element sm2-button-element">
   <div class="sm2-button-bd">
    <a id="playbtn" class="sm2-inline-button play-pause">Play / pause</a>
   </div>
  </div>

  <div class="sm2-inline-element sm2-inline-status">

   <div class="sm2-playlist">
    <div class="sm2-playlist-target">
    </div>
   </div>

   <div class="sm2-progress">
    <div class="sm2-row">
    <div class="sm2-inline-time">0:00</div>
     <div class="sm2-progress-bd">
      <div class="sm2-progress-track">
       <div class="sm2-progress-bar"></div>
       <div class="sm2-progress-ball"><div class="icon-overlay"></div></div>
      </div>
     </div>
     <div class="sm2-inline-duration">0:00</div>
    </div>
   </div>

  </div>

  <div class="sm2-inline-element sm2-button-element">
   <div class="sm2-button-bd">
    <a title="Next" class="sm2-inline-button next">&gt; next</a>
   </div>
  </div>

  <div class="sm2-inline-element sm2-button-element sm2-menu">
   <div class="sm2-button-bd">
     <a class="sm2-inline-button menu">menu</a>
   </div>
  </div>

 </div>

 <div class="bd sm2-playlist-drawer sm2-element">

  <div class="sm2-inline-texture">
   <div class="sm2-box-shadow"></div>
  </div>

  <!-- playlist content is mirrored here -->


  <div class="sm2-extra-controls">

   <div class="bd">

    <div class="sm2-inline-element sm2-button-element">
     <a href="#prev" title="Previous" class="sm2-inline-button previous">&lt; previous</a>
    </div>

    <div class="sm2-inline-element sm2-button-element">
     <a href="#next" title="Next" class="sm2-inline-button next">&gt; next</a>
    </div>

   </div>

  </div>

 </div></div>
	<div class="header">
  	    <div class="container">					
			<div class="logo">
				<a class="clickable" href="home"><img ondragstart="return false;" src="images/logo.png" class="img-responsive" alt="" /></a>
			</div>
			<div class="hader-top">
				<div class="head-nav">
					
				</div>
				<div class="clearfix"> </div>
			</div> 
				<div class="clearfix"> </div>
		</div> 
	</div> 

<!-- header -->
<div id="content">
<div id="mainpage">
	<div class="buttons">
				<p><a id="joinbtn" class="clickable">JOIN A SESSION</a></p>
	</div>
	<p id="or">- OR -</p>
	<div class="buttons">
				<p><a id="hostbtn" class="clickable">HOST A SESSION</a></p>
	</div>
</div>
<div id="hostsession" style="display: none;">
  <div class="register">
      <div class="notice">
      <p>Session data is retained for a period of a week.</p>
      <p>Hosting sessions is not reccomended for lower performance devices.</p> 
      </div>
          <form>
          <div class='error'>Session name has already been used within the past week!</div>
         <div class="register-top-grid">
           <div class="wow fadeInLeft" data-wow-delay="0.4s">
            <span>Session Name<label>*</label></span>
            <input id="sname" type="text"> 
           </div>
           <div class="clearfix"> </div>
             <label class="checkbox"><input id="pwdcheck" type="checkbox" name="checkbox"><i> </i>Protect session with password?</label>
             <hr />
             <div id="passwordfield" class="wow fadeInLeft" data-wow-delay="0.4s">
            <span>Session Password<label>*</label></span>
            <input id="pwd" type="text"> 
           </div>
           </div>
        </form>
        <div class="clearfix"> </div>
        <div class="submitbutton">
        <p id="createbtn">CREATE SESSION</p>
        </div>
        <div class="buttons">
        <p><a class="clickable" id="createback">BACK</a></p>
        </div>
    </div>
</div>
<div id="joinsession" style="display: none;">
  <div class="register">
          <form> 
            <div class='error'>Session not found!</div>
         <div class="register-top-grid">
           <div class="wow fadeInLeft" data-wow-delay="0.4s">
            <span>Session Name<label>*</label></span>
            <input id='joinsname' type="text"> 
           </div>
           <div class="clearfix"> </div>
           </div>
        </form>
        <div class="clearfix"> </div>
        <div class="buttons">
        <p><a id='joinbtn2' href="#">JOIN SESSION</a></p>
        </div>
        <div class="buttons">
        <p><a id="joinback">BACK</a></p>
        </div>
    </div>
</div>
<div id="sessionpassword" style="display: none;">
  <div class="register">
          <form> 
            <div class='error'>Passcode not correct</div>
         <div class="register-top-grid">
           <div class="wow fadeInLeft" data-wow-delay="0.4s">
            <span>Session Password<label>*</label></span>
            <input id='password' type="text"> 
           </div>
           <div class="clearfix"> </div>
           </div>
        </form>
        <div class="clearfix"> </div>
        <div class="buttons">
        <p><a id='passwordbtn' href="#">JOIN SESSION</a></p>
        </div>
        <div class="buttons">
        <p><a id="joinback">BACK</a></p>
        </div>
    </div>
</div>
</div>
<div id="player"></div>
<div style="display:none;" id='reconnect'>
</div>
</body>
<script src="js/scripts.js"></script>
</html>