			<div class="register">
		  	  <form> 
		  	  	<div class='error'>Session not found!</div>
				 <div class="register-top-grid">
					 <div class="wow fadeInLeft" data-wow-delay="0.4s">
						<span>Session Name<label>*</label></span>
						<input id='sname' type="text"> 
					 </div>
					 <div class="clearfix"> </div>
					 </div>
				</form>
				<div class="clearfix"> </div>
				<div class="buttons">
				<p><a id='joinbtn' href="#">JOIN SESSION</a></p>
				</div>
				<div class="buttons">
				<p><a href="/home">BACK</a></p>
				</div>
		</div>