			<div class="searchbox">

		  	  <form> 
				 <div class="register-top-grid">
					 <div class="wow fadeInLeft" data-wow-delay="0.4s">
						<input id='search' type="text"> 
					 </div>
					 </div>
				</form>
				<div class="clearfix"> </div>
				<div class="searchbutton">
				<p id="searchbtn">SOUNDCLOUD</p>
				</div>
				<div class="searchbutton">
				<p id="ytsearchbtn">YOUTUBE</p>
				</div>

				
		</div>
		<div id="searchresults">
			<img class="searching" ondragstart="return false;" src="/images/searching.gif" />
		</div>
		<div id="history">
		<ul id="historylist" class="resultslist">
		</ul>
		</div>
		<div id="queue">
		<ul id="queuelist" class="resultslist">
		</ul>
		</div>
		<footer>
		<div id="footertabs"><div class="footertab" id="tab1">SEARCH</div><div class="footertab" id="tab2">QUEUE</div><div class="footertab" id="tab3">HISTORY</div></div>
		</footer>
